.default-background {
	background-color: white;
	padding:0;
	margin:0;
}


.jumbotronbackground {
  background: url('../img/frontimage.jpg') no-repeat center center!important;
  width: 100%;
  height: 600px; 
  top:50px;
  left:0px;
  z-index: -1;
  display:fixed;
}

.jumbotron {
	background:transparent;
	width:100%;
	top:50px;
	left:0px;
	border-radius:0;
	height:600px;
}

.articles {
	position:relative;
	height:600px;
	width:100%;
	background-color:white;
}

.menucontainer {
	height:50px;
	width:50px;
	position: relative;
	float:left;
	cursor:pointer;
}

.menu {
    transform-style: preserve-3d;
	transition: transform 1s;
}

.menucontainer.expand .menu{
	transform: rotateY(180deg);
}

.menufront, .menuback {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display:block;
	height:50px;
	width:50px;
}

.menufront {
	background:transparent url('../img/menu_grey.svg') center center no-repeat;
	background-size:60%;
	z-index: 2;
}
.menuback {
	background:white url('../img/multiply_grey.svg') center center no-repeat;
	background-size:60%;
	transform: rotateY(-180deg);
}


.menubar {
	width:100%;
	background-color: white;
	position:fixed;
	height:50px;
	margin-bottom:10px;
	z-index:1000;
}

.panel {
	z-index:0;
}

.aboutpage {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #43353D; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.aboutpage a {
	text-decoration: none;
	color: yellow;
}

.aboutpage p {
	color: white;
}

.aboutpage h1 {
	color: white;
}

.indexpage {
	width:100%;
    transition: margin-left .5s;
    padding: 0px;	
}

.aboutpage.visible {
	transition: all .8s ease-in-out;
	margin-left:0%;
	margin-top:0%;
}


.explorebutton {
	width: 150px;
	height: 35px;
	border: 0px solid rgba(52, 65, 70, 0.1);
	background-clip:padding-box;
	margin:0px auto;
	background: linear-gradient(to right, white 49%, rgba(52, 65, 70, 0.4) 50%);
	background-size: 200% 100%;
	background-position:left bottom;
	transition:all 0.5s ease;
}

.explorebutton:hover
{
	box-shadow:0 0 20px white;
	background-position:right bottom;
	transform:skewX(-15deg);
}

.explorebutton p {
	color: white;
	text-align: center;
	line-height: 35px;
	font-family: 'Lora', serif;
	margin:0px;
	cursor:pointer;	
	color: #344146;
	transition:all 0.5s ease;
}

.explorebutton p:hover {
	color: white;
	text-align: center;
	line-height: 35px;
	font-family: 'Lora', serif;
	margin:0px;
	cursor:pointer;	
	color: white;
}

.jumbotron a {
	text-decoration: none;
}

.frontbanner a {
	text-decoration: none;
}

.jumbotron > h1 {
	color:white;
}

.jumbotron > p {
	color:white;
}

.indexpage > .container {
	width:100%;
	padding:0;
}