.default-background {
	background-color: #e7e5e4;
}

.frontpage {
	width:100%; 
	height:100%;
	position:absolute;
	
}

.frontheader {
	color: white;
	font-size:92px;
	top:40%;
	left:40%;
	position:absolute;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
}

.fronttext {
	color: white;
	font-size:36px;
	top:60%;
	left:40%;
	position:absolute;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	
}

