doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/explore.css")
		link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width,initial-scale=1")
	body.default-background
		.exploreheader
			a(href="index.html")
				.home
			h1="Tech Snippet"
			input.searchtext(type="text", name="search", placeholder="Search..")
		.searchresult
			.entry
				h2="Sample entry"
				p="Sample entry 2"