doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/explore.css")
		link(href='https://fonts.googleapis.com/css?family=Lora',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width,initial-scale=1")
		script(src="js/explore.js")
	body.default-background
		.exploreheader
			a.headertext(href="index.html")="Tech Snippet"
			input.searchtext(type="text", name="search", placeholder="Search..")
		.searchresult
			.entry
				a(href="articles/how_to_run_es6_code_on_browser.html")="How to run ES6 code on browser"
				p="ES6 or ECMAScript 2015, released in June 2015, brings in many amazing features and syntax in javascript. Not all of these new features are currently supported by today's web browsers. However, even in the absence of complete browser support, it is a good idea to start writing javascript using the ES6/ES7 features." 
				