doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/techsnippet.min.css")
		script(src="js/techsnippet.min.js")
		meta(name="viewport",content="width=device-width,initial-scale=1")
	body.default-background
		section.homepage
			.heroimage
			.frontpagetext
				br
				br
				br
				br
				br
				br
				br
				br
				br
				h1.center-align.logotext="Tech Snippet"
				h4.center-align.slogan="Exploring Technologies"
		section.articles
			.row
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Downloading SVG image into PNG, JPEG & SVG
							p Javascript can convert an SVG image into PNG/JPEG format and allow the user to download the SVG image in SVG, PNG and JPEG format.
							.chip.orange.lighten-5 SVG
							.chip.orange.lighten-5 PNG
							.chip.orange.lighten-5 JPEG
							.chip.orange.lighten-5 Javascript
						.card-action
							a(href="articles/download_svg_image_6.html") More
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Concatenating and minifying javascript and CSS files
							p It is a good practice to concatenate and minify all javascript files into a single file for performance reasons. Same is true for CSS.
							.chip.orange.lighten-5 CSS
							.chip.orange.lighten-5 Javascript
							.chip.orange.lighten-5 Grunt
							.chip.orange.lighten-5 Minification
							.chip.orange.lighten-5 Uglify
							.chip.orange.lighten-5 cssnano
							.chip.orange.lighten-5 Concatenation
							.chip.orange.lighten-5 grunt-contrib-concat
						.card-action
							a(href="articles/concate_minify_js_css_5.html") More
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Transpiling ES6 into browser compatible code
							p ES6 is currently not supported by all browsers. A Grunt task can be used to transpile ES6 into browser compatible ES5 using Babel and Browserify. 
							.chip.orange.lighten-5 ES6
							.chip.orange.lighten-5 Babel
							.chip.orange.lighten-5 Browserify
							.chip.orange.lighten-5 Grunt
							.chip.orange.lighten-5 Transpilation
						.card-action
							a(href="articles/transpile_es6_4.html") More
			.row
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Compiling Less into CSS
							p Less can be compiled into CSS using a Grunt task.
							.chip.orange.lighten-5 Less
							.chip.orange.lighten-5 CSS
							.chip.orange.lighten-5 Grunt
						.card-action
							a(href="articles/compile_less_3.html") More
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Copying files during build
							p Font and image files are usually copied to the distribution directory during build process. A grunt task can used to do this.
							.chip.orange.lighten-5 Grunt
							.chip.orange.lighten-5 grunt-contrib-copy
						.card-action
							a(href="articles/copy_files_2.html") More
				.col.l4
					.card.hoverable
						.card-content
							span.card-title Compiling Jade into HTML
							p Jade can be compiled into HTML using a Grunt task.
							.chip.orange.lighten-5 Jade
							.chip.orange.lighten-5 Grunt
							.chip.orange.lighten-5 HTML
						.card-action
							a(href="articles/compile_jade_1.html") More
		script.
			<!-- Google Analytics -->
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-81797409-1', 'auto');
			ga('send', 'pageview');
