doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/techsnippet.css")
		link(rel="stylesheet",href="css/bootstrap.css")
		link(rel="stylesheet",href="css/bootstrap-theme.css")
	body.default-background
		img.frontpage(src="img/Fotolia_107889582_Subscription_Monthly_M.jpg")
		.frontbanner
			h1.frontheader="Tech Snippet"
			p.fronttext="Exploring technologies to build a knowledge base."
				