doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/techsnippet.css")
		link(rel="stylesheet",href="css/bootstrap.css")
		link(rel="stylesheet",href="css/bootstrap-theme.css")
	body.default-background
		#frontpage.frontpage
			h1.frontheader="Tech Snippet"
			p1.fronttext="Exploring technologies to build a knowledge base."
				